<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="myinput-builder.html" target="_blank">myinput-builder</a><br/>
    <a href="myinput-form.html" target="_blank">myinput-form</a><br/>

    <a href="request-builder.html" target="_blank">request-builder</a><br/>
    <a href="request-form.html" target="_blank">request-form</a><br/>

    <a href="test-builder1.html" target="_blank">test-builder1</a><br/>
    <a href="test-builder2.html" target="_blank">test-builder2</a><br/>
    <a href="test-builder3.html" target="_blank">test-builder3</a><br/>
    <a href="test-builder4.html" target="_blank">test-builder4</a><br/>

    <a href="test-form1.html" target="_blank">test-form1</a><br/>
    <a href="test-form2.html" target="_blank">test-form2</a><br/>
    <a href="test-form3.html" target="_blank">test-form3</a><br/>

    <a href="test-submision.html" target="_blank">test-submision</a><br/>

  </body>
</html>
