<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="myinput-builder.html" target="_blank">myinput-builder</a><br/>
    <a href="myinput-form.html" target="_blank">myinput-form</a><br/>

    <a href="form-management.html" target="_blank">form-management</a><br/>
  </body>
</html>
